/* 索引页-全局 */
body#index {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/light.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans CJK SC Regular';
}

/* @media (prefers-color-scheme: dark) {
    body#index {
        color: #fff;
        background-image: url(../img/dark.jpg);
    }
} */

.hidden {
    display: none !important;
}

/* 索引页-标题 */
h1 {
    font-size: 2em;
    margin: .67em 0;
    user-select: none;
    cursor: text;
}

/* 索引页-按钮 */

.mui-btn.mui-btn--flat:active,
.mui-btn.mui-btn--flat:focus,
.mui-btn.mui-btn--flat:hover {
    color: inherit;
    background-color: rgba(0,0,0,.1);
}

/* @media (prefers-color-scheme: dark) {
    .mui-btn.mui-btn--flat,
    .mui-btn.mui-btn--flat,
    .mui-btn.mui-btn--flat {
        color: inherit;
    }
    .mui-btn.mui-btn--flat:active,
    .mui-btn.mui-btn--flat:focus,
    .mui-btn.mui-btn--flat:hover {
        color: inherit;
        background-color: rgba(255,255,255,.1);
    }

    .mui-dropdown__menu {
        background-color: #424242;
    }
    .mui-dropdown__menu>li>a:focus,
    .mui-dropdown__menu>li>a:hover {
        background-color: #616161;
    }
    .mui-dropdown__menu>li>a {
        color: inherit;
    }
} */

/* 横屏提示 */
#tips {
    position: fixed;
    top: 0;
    left: 0;
    height: 74px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: linear-gradient(99.78deg,rgba(122, 144, 255, .7) 36.43%, rgba(82, 110, 250, .7) 61.54%); */
    background-color: rgba(0, 0, 0, .87);
    text-align: center;
}

#tips p {
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    margin: 0;
}

#tips .close {
    position: absolute;
    width: 13.5px;
    height: 13.5px;
    top: 30.5px;
    right: 30.5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADXSURBVHgBvZdRDoQgDER7JG8kN5Gb6El3Vnc1QUKxQMf5dcJ7MdqqSBYAkxCjnr9fWPDPLBzwfJ6/aGAwBBIwbgLHrUA5LgIF8C9pITAENPDBy4uuAmawt0Az2EugGzwqMAzuFXADtwq4g60CNLBBYKWCDQJccINAEGZ2wKaAV2EG+sN1hbKOLWCOQAW8UQXw8B6DtI7NA8RdAI2TqyaA5MPFHWwQCCYBDM7qbgE4LYkT9DELwHk7mQVAWos1gaswMcBPAmkhMsAVgZgXIgNcEIha4bW/1C8MRWR4wytkNQAAAABJRU5ErkJggg==);
    background-size: cover;
    cursor: pointer;
}

@media (min-width: 600px) {
    #tips {
        display: none;
    }
}

/* 索引页-打字效果 */
#index .ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}