html,
body {
    margin: 0;
    padding: 0;
}

#dplayer {
    height: 100vh;
    width: 100vw;
}

/* .dplayer-menu-item a{
    text-decoration: none;
} */

.dplayer-menu {
    display: none !important;
}