/* 全局 */
[hidden] {
    display: none;
}

/* 卡片样式 */
.mdui-row-xs-1 .mdui-col {
    margin: 8px auto;
}

.mdui-card {
    overflow: inherit;
}

/* 彩蛋 */
#easter {
    opacity: 0;
    animation: 10s fad 5s;
    cursor: default;
}

@keyframes fad {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 0.05;
        cursor: pointer;
    }
}

/* 音乐-APlayer */
#player .aplayer-info .aplayer-music .aplayer-title,
#player .aplayer-list li .aplayer-list-title {
    color: rgba(0,0,0,.87);
}

#player .aplayer-lrc .aplayer-lrc-contents p {
    color: #fff;
    opacity: .54;
    transition: color,font-weight,opacity 0.75s linear;
    text-shadow: none
}
@media (prefers-color-scheme: light) {
    #player .aplayer-lrc .aplayer-lrc-contents p {
        color: #000;
    }
}
#player .aplayer-lrc .aplayer-lrc-contents p.aplayer-lrc-current {
    opacity: 1;
    font-weight: bold;
}