/* 索引页-全局 */
body#index {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/light.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans CJK SC Regular';
}
body#index.mdui-theme-layout-dark {
    background-image: url(../img/dark.jpg);
}

/* 索引页-打字效果 */
#index .ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}